<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Table</title>
</head>
<body>
<form method="post" action="/add_table" enctype="multipart/form-data">
    <input type=file name="file">
    <br/>
    <label>Name</label>
    <input type="text" name="name"/>
    <br/>
    <label>id column</label>
    <input type="text" name="id_col"/>
    <br/>
    <label>label column</label>
    <input type="text" name="label_col"/>
    <br/>
    <label>Memo</label>
    <input type="text" name="memo"/>
    <br/>
    <input type="submit">
</form>
</body>
</html>