<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FATE数据平台</title>
    <link href="../static/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="../static/style/authority/common_style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center"  border="0">
		    <tr>
		      <th colspan="2">系统信息</th>
		    </tr>
		    <tr>
		      <td width="100" height="30">当前版本<span class="TableRow2"></span></td>
		      <td style="text-align:left">FATE数据平台1.0（FDP1.0）</td>
            </tr>
            <tr>
              <td width="100" height="30">系统介绍</td>
		      <td style="text-align:left">FATE数据平台（FDP）是一款平台型应用产品，致力于打造具有普适性的数据使用权交易环境，带给用户便捷、安全、稳定获益的交易方式。平台用户既可以支付费用发起联邦学习训练模型，又可以为训练提供数据集获得收益。</td>
		    </tr>
		</table>
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
		    <tr>
		      <th colspan="2">系统开发</th>
		    </tr>
		    <tr>
		      <td width="100" height="30">开发团队</td>
		      <td style="text-align:left">F4团队</td>
            </tr>
            <tr>
              <td width="100" height="30">团队成员</td>
		      <td style="text-align:left">夏天广、叶建东、卫巍、赵天宇</td>
		    </tr>
        </table>
        <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
		    <tr>
		      <th colspan="2">联系我们</th>
		    </tr>
            <tr>
              <td width="100" height="30">手机号码</td>
		      <td style="text-align:left">13712997400</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">邮箱地址</td>
		      <td style="text-align:left">
		      	<a href="mailto:422929918@qq.com">422929918@qq.com</a>
		      </td>
		    </tr>
		</table>
	</div>
</body>
</html>
